@model Voleska.ViewModel.LajkAjaxViewModel

<span id="like-komentar-@Model.ID" class="d-flex align-items-center">
    @await Component.InvokeAsync(nameof(Voleska.ViewComponents.ViewComponents.SteviloLikeKomentarVC), new { steviloLike = Model.SteviloLike })
</span>

<div>
    <button id="komentar-@Model.KomentarID" class="btn btn-primary mr-3" @Model.Like onclick="ajaxCreateKomentar(@Model.KomentarID, @Model.ID, true)"><i class="fa fa-thumbs-up"></i></button>
</div>


<span id="dislike-komentar-@Model.ID" class="d-flex align-items-center">
    @await Component.InvokeAsync(nameof(Voleska.ViewComponents.ViewComponents.SteviloDislikeKomentarVC), new { steviloDislike = Model.SteviloDislike })
</span>
<div>
    <button id="komentar-@Model.KomentarID" class="btn btn-danger " @Model.Dislike onclick="ajaxCreateKomentar(@Model.KomentarID, @Model.ID, false)"><i class="fa fa-thumbs-down"></i></button>
</div>

