@model Voleska.Models.Izdelek

@{
    ViewData["Title"] = "Podrobnosti izdelka";
}
<script type="text/javascript">

   

    

    function swapImage() {
        var image = document.getElementById("imageToSwap");
        var dropd = document.getElementById("opcijaParameter");
        image.src = "/slike/" + dropd.value;

       
        $("#large").css("background", "transparent url('/slike/" + dropd.value + "') no-repeat right top");
    };



    jQuery(document).ready(function ($) {

        //Povečava slike//
        var slika = document.getElementById("imageToSwap").src;
        $("#large").css("background", "transparent url('" + slika + "') no-repeat right top");
        //Konec povečave slike//


        $(".btnrating").on('click', (function (e) {

            var previous_value = $("#selected_rating").val();

            var selected_value = $(this).attr("data-attr");
            $("#selected_rating").val(selected_value);

            $(".selected-rating").empty();
            $(".selected-rating").html(selected_value);

            for (i = 1; i <= selected_value; ++i) {
                $("#rating-star-" + i).toggleClass('btn-warning');
                $("#rating-star-" + i).toggleClass('btn-default');
            }

            for (ix = 1; ix <= previous_value; ++ix) {
                $("#rating-star-" + ix).toggleClass('btn-warning');
                $("#rating-star-" + ix).toggleClass('btn-default');
            }

        }));

        var native_width = 0;
        var native_height = 0;

        //Now the mousemove function
        $(".magnify").mousemove(function (e) {
            //When the user hovers on the image, the script will first calculate
            //the native dimensions if they don't exist. Only after the native dimensions
            //are available, the script will show the zoomed version.
            if (!native_width && !native_height) {
                //This will create a new image object with the same image as that in .small
                //We cannot directly get the dimensions from .small because of the
                //width specified to 200px in the html. To get the actual dimensions we have
                //created this image object.
                var image_object = new Image();
                image_object.src = $(".small").attr("src");

                //This code is wrapped in the .load function which is important.
                //width and height of the object would return 0 if accessed before
                //the image gets loaded.
                native_width = image_object.width;
                native_height = image_object.height;
            }
            else {
                //x/y coordinates of the mouse
                //This is the position of .magnify with respect to the document.
                var magnify_offset = $(this).offset();
                //We will deduct the positions of .magnify from the mouse positions with
                //respect to the document to get the mouse positions with respect to the
                //container(.magnify)
                var mx = e.pageX - magnify_offset.left;
                var my = e.pageY - magnify_offset.top;

                //Finally the code to fade out the glass if the mouse is outside the container
                if (mx < $(this).width() && my < $(this).height() && mx > 0 && my > 0) {
                    $(".large").fadeIn(100);
                }
                else {
                    $(".large").fadeOut(100);
                }
                if ($(".large").is(":visible")) {
                    //The background position of .large will be changed according to the position
                    //of the mouse over the .small image. So we will get the ratio of the pixel
                    //under the mouse pointer with respect to the image and use that to position the
                    //large image inside the magnifying glass
                    var rx = Math.round(mx / $(".small").width() * native_width - $(".large").width() / 2) * -1;
                    var ry = Math.round(my / $(".small").height() * native_height - $(".large").height() / 2) * -1;
                    var bgp = rx + "px " + ry + "px";

                    //Time to move the magnifying glass with the mouse
                    var px = mx - $(".large").width() / 2;
                    var py = my - $(".large").height() / 2;
                    //Now the glass moves with the mouse
                    //The logic is to deduct half of the glass's width and height from the
                    //mouse coordinates to place it with its center at the mouse coordinates

                    //If you hover on the image now, you should see the magnifying glass in action
                    $(".large").css({ left: px, top: py, backgroundPosition: bgp });
                }
            }
        });

    });



</script>



<!-- Lets load up prefixfree to handle CSS3 vendor prefixes -->
<script src="https://thecodeplayer.com/uploads/js/prefixfree.js" type="text/javascript"></script>

@{ 
    var tipIzdelka = "";
    if (ViewBag.TipIzdelka == null)
    {
        tipIzdelka = TempData["TipIzdelka"].ToString();
    }
    else {
        tipIzdelka = ViewBag.TipIzdelka;
    }



<nav aria-label="breadcrumb" class="ml-md-4">
    <ol class="breadcrumb bg-white d-flex justify-content-center">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index" asp-route-izbira="domov" class="customColor">Domov</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Katalog" asp-action="Index" class="customColor">Katalog</a></li>
        <li class="breadcrumb-item"><a asp-action="Izdelki" asp-route-id="@Model.TipIzdelkaID" asp-route-imeTipaIzdelka="@tipIzdelka" asp-route-stevilkaStrani="@ViewBag.StevilkaStrani" asp-route-searchString="@ViewBag.SearchString" asp-route-filtriranje="@ViewBag.Filtriranje" class="customColor">@tipIzdelka</a></li>
        <li class="breadcrumb-item active">@Html.DisplayFor(model => model.Ime)</li>
    </ol>
</nav>
    }
<div class="row align-content-center">

    <div id="prikazOpcije" class="d-flex ml-md-0 pl-md-0 mb-3 col-md-5">

        @foreach (var item in Model.Opcije)
        {
            if (Model.Opcije.First() == item)
            {

                <!-- Lets make a simple image magnifier -->
                <div class="magnify">

                    <!-- This is the magnifying glass which will contain the original/large version -->
                    <div class="large" id="large"></div>

                    <!-- This is the small image -->
                    <img id="imageToSwap" class="img-fluid z-depth-2 small" src="~/slike/@item.Slika" width="500" asp-append-version="true" />

                </div>

            }

        }

    </div>

    <div class="col-md-7 d-flex flex-column align-content-center justify-content-center">
        <h1>@Html.DisplayFor(model => model.Ime)</h1>
        @{
            var vsotaOcen = 0;
            var povprecnaOcena = 0;
            @foreach (var item in ViewBag.OceneIzdelka)
            {
                vsotaOcen += item.Ocena;
            }


            if (ViewBag.SteviloOcen != 0)
            {
                povprecnaOcena = vsotaOcen / ViewBag.SteviloOcen;
                <div>
                    @for (int i = 0; i < povprecnaOcena; i++)
                    {
                        <span><i class="fa fa-star text-warning" aria-hidden="true"></i></span>
                    }
                </div>

            }


        }
        <lead class="my-2">@Html.DisplayFor(model => model.Podrobnosti)</lead>
        <h4 class="text-success mb-3">@Html.DisplayFor(model => model.Cena)</h4>

        <form asp-action="DodajVKosarico" id="kosarica" asp-area="" asp-controller="Katalog" method="post">

            <div class="form-group">

                <select id="opcijaParameter" name="opcijaParameter" class="form-control" onchange="swapImage()" required>
                    <option value="" disabled selected>-- Izberi opcijo --</option>
                    @{
                        @foreach (var item in Model.Opcije)
                        {

                            var preveriZalogo = (item.Zaloga == true) ? null : "disabled";
                            var negacija = (preveriZalogo == "disabled") ? null : "disabled";


                            if (Model.Opcije.First() == item)
                            {
                                <option value="@item.Slika" asp-route-opcijaId="@item.ID" disabled="@preveriZalogo">@Html.DisplayFor(modelItem => item.Ime)</option>

                            }
                            else
                            {
                                <option disabled="@preveriZalogo" value="@item.Slika" asp-route-opcijaId="@item.ID">@Html.DisplayFor(modelItem => item.Ime)</option>
                            }
                        }

                    }

                </select>




            </div>
            <div class="form-group">
                <select asp-for="MaterialID" name="MaterialID" id="MaterialID" class="form-control" asp-items="ViewBag.MaterialID"></select>
            </div>
            <div class="form-group">
                <input id="kolicina" name="kolicina" type="number" min="1" value="1" class="form-control" />
                <input type="hidden" id="cena" name="cena" value="@Model.Cena" />
                <input type="hidden" id="izdelekId" name="izdelekId" value="@Model.ID" />
             
                <input type="hidden" id="tipIzdelkaId" name="tipIzdelkaId" value="@Model.TipIzdelkaID" />
                <input type="hidden" id="imeTipaIzdelka" name="imeTipaIzdelka" value="@tipIzdelka" />
                <input type="hidden" id="stevilkaStrani" name="stevilkaStrani" value="@ViewBag.StevilkaStrani" />
                <input type="hidden" id="searchString" name="searchString" value="@ViewBag.SearchString" />
                <input type="hidden" id="filtriranje" name="filtriranje" value="@ViewBag.Filtriranje" />
            </div>
            <div class="md-form customGreen-textarea active-customGreen-textarea" id="preusmeri">
                <i class="fas fa-pencil-alt prefix"></i>
                <textarea id="opombe" name="opombe" class="md-textarea form-control p-3" rows="3"></textarea>
                <label for="opombe">Dodatne želje v zvezi z izdelkom</label>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <input type="submit" class="btn customGreenBg" value="Dodaj v košarico!" />

            }
            else
            {
                <a class="nav-link text-white btn customGreenBg" id="login" asp-area="Identity" asp-page="/Account/Login">Za dodajanje v košarico morate biti vpisani!</a>
            }
        </form>
    </div>


</div>



<div class="my-5 wow fadeIn">

    @{
        var omogociOcenjevanje = 0;
        var skrij = "";

        @if (ViewBag.TransakcijeUporabnika != null)
        {
            @foreach (var transakcija in ViewBag.TransakcijeUporabnika)
            {
                @foreach (var narocilo in Model.Narocila)
                {
                    if (narocilo.TransakcijaID == transakcija.ID)
                    {
                        omogociOcenjevanje = 1;
                        break;
                    }
                }

            }
        }

        var zeOddalOceno = false;


        @foreach (var item in Model.OceneIzdelkov)
        {
            if (ViewBag.TrenutniUser == item.ApplicationUserID)
            {
                zeOddalOceno = true;
                break;
            }
        }


        @if (omogociOcenjevanje == 1 && zeOddalOceno == false)
        {
            <h3 class="text-center">Kako se ti je dopadel izdelek?</h3>


            <form asp-action="OddajOceno" asp-controller="OceneIzdelkov" method="post" id="better-rating-form">
                <input type="hidden" name="imeTipaIzdelka" id="imeTipaIzdelka" value="@tipIzdelka"/>
                <div class="form-group d-flex justify-content-center" id="rating-ability-wrapper">
                    <label class="control-label" for="rating">
                        <input type="hidden" id="selected_rating" name="selected_rating" required="required">
                        <input type="hidden" id="izdelekId" name="izdelekId" value="@Model.ID" />

                    </label>
                    <h2 class="bold rating-header text-center my-auto mx-3" style="">
                        <span class="selected-rating">0</span><small> / 5</small>
                    </h2>
                    <button type="button" class="btnrating btn btn-default btn-sm py-1 px-2" data-attr="1" id="rating-star-1">
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btnrating btn btn-default btn-sm py-1 px-2" data-attr="2" id="rating-star-2">
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btnrating btn btn-default btn-sm py-1 px-2" data-attr="3" id="rating-star-3">
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btnrating btn btn-default btn-sm py-1 px-2" data-attr="4" id="rating-star-4">
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btnrating btn btn-default btn-sm py-1 px-2" data-attr="5" id="rating-star-5">
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </button>
                </div>

                @if (@TempData["NiRatinga"] == "" || TempData["NiRatinga"]==null)
                {
                    skrij = "no-display";
                }
                else
                {
                    skrij = "";
                }

                <div class="alert alert-warning @skrij " role="alert">
                    @TempData["NiRatinga"]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>


                <div class="mt-5 md-form amber-textarea active-amber-textarea">
                    <i class="fas fa-pencil-alt prefix"></i>
                    <textarea name="rate" id="" required class="md-textarea form-control p-3" cols="50" rows="3">@TempData["ShranjenText"]</textarea>
                    <label for="opombe">Vzemi si trenutek in povej kako si kaj zadovoljen z nakupom tega izdelka :)</label>
                </div>

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-warning mt-3">Oddaj Oceno!</button>
                </div>
            </form>
        }

    }


</div>
@{ 
    var poravnava = "";

    if (ViewBag.SteviloOcen < 3)
    {
        poravnava = "justify-content-center";
    }
    else {
        poravnava = "justify-content-left";
    }

}


<div class="my-5 wow fadeIn">
    <h3 class="mb-4 text-center" id="ocene-in-komentarji">Ocene in Komentarji</h3>


    <div class="row d-flex @poravnava">
        @if (ViewBag.SteviloOcen == 0)
        {

            <p class="text-center">Ni dodanih ocen in komentarjev.</p>
        }
        else
        {
            if (ViewBag.SteviloOcen > 0)
            {
                @foreach (var item in Model.OceneIzdelkov)
                {
                    <div class="col-md-6 col-lg-4 mt-3">
                        <div class="card text-dark bg-light mb-3 px-0" min-width="20rem;">
                            <div class="card-header d-flex justify-content-between">
                                <div>
                                    @for (int i = 0; i < @item.Ocena; i++)
                                    {
                                        <span><i class="fa fa-star text-warning" aria-hidden="true"></i></span>
                                    }
                                </div>
                                <div>@item.ApplicationUser.UserName</div>
                            </div>
                            <div class="card-body text-dark">


                                <sub> <i class="fas fa-quote-left fa-xs"></i></sub>
                                <span class="">&nbsp; @item.Komentar &nbsp;</span>
                                <sup><i class="fas fa-quote-right fa-xs"></i></sup>
                                <div class="text-right"><small>@item.Posodobljen.ToString("dd.MM.yyyy, HH:mm")</small></div>

                                @if (ViewBag.TrenutniUser == item.ApplicationUserID)
                                {
                                    <a asp-action="Edit" asp-controller="OceneIzdelkov" class="btn-sm btn-success" asp-route-id="@item.ID" asp-route-imeTipaIzdelka="@tipIzdelka"><i class="fa fa-edit mr-2"></i>Uredi</a>
                                    <a asp-action="Delete" asp-controller="OceneIzdelkov" class="btn-sm btn-danger" asp-route-id="@item.ID" asp-route-imeTipaIzdelka="@tipIzdelka"><i class="fa fa-trash mr-2"></i>Izbriši</a>
                                }

                            </div>
                        </div>


                    </div>


                }
            }

        }
    </div>
</div>


