@model IEnumerable<Voleska.Models.TipIzdelka>

@{
    ViewData["Title"] = "Katalog";
}

<nav aria-label="breadcrumb" class="naslov no-visibility">
    <ol class="breadcrumb bg-white d-flex justify-content-center">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index" asp-route-izbira="domov" class="customColor">Domov</a></li>
        <li class="breadcrumb-item active">Katalog</li>
    </ol>
</nav>


@{
    var animacija = "";
    var stevec = 1;

    <h1 class="text-center naslov no-visibility">Katalog izdelkov</h1>

    <!-- Grid row -->
    <div class="row mt-5 d-flex justify-content-center">



        @foreach (var item in Model)
        {

            <!-- Grid column -->
            <div class="fadeMe col-sm-6 col-md-4 col-lg-2 mb-4 d-flex align-items-stretch justify-content-center">

                <!--Card-->
                <div id="@stevec" class="no-visibility card default-color-dark">

                    <!--Card image-->
                    <div class="view overlay zoom">
                        <img src="~/slike/@item.Slika" class="card-img-top" alt="photo">
                        <a asp-area="" asp-controller="Katalog" asp-action="Izdelki" asp-route-id="@item.ID" asp-route-imeTipaIzdelka="@item.Ime">
                            <div class="mask flex-center rgba-black-strong">
                                <p class="white-text">@Html.DisplayFor(modelItem => item.Ime)</p>
                            </div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body py-5 text-center">
                        <!--Title-->
                        <h4 class="card-title white-text lead">@Html.DisplayFor(modelItem => item.Ime)</h4>
                        <!--Text-->

                        <a asp-area="" asp-controller="Katalog" asp-action="Izdelki" asp-route-id="@item.ID" asp-route-imeTipaIzdelka="@item.Ime" class="btn btn-outline-white btn-md waves-effect mb-5">Poglej</a>

                    </div>

                </div>
                <!--/.Card-->
            </div>
            <!-- Grid column -->

            stevec += 1;
        }


    </div>
    <!-- Grid row -->
}

@if (User.Identity.IsAuthenticated && User.IsInRole("ADMINISTRATOR"))
{
    <div class="d-flex animated fadeInDown delay-1s">
        <a class="nav-link customColor" asp-area="" asp-controller="Materiali" asp-action="Index">Materiali</a> <a class="nav-link customColor" asp-area="" asp-controller="TipiIzdelkov" asp-action="Index">Tipi izdelkov</a> <a class="nav-link customColor" asp-area="" asp-controller="TipiOpcij" asp-action="Index">Tipi opcij</a>
    </div>
}

<script>
    $(document).ready(function () {


        var divs = $(".fadeMe");

        var i = 0;
        var j = 1;
        var loop = window.setInterval(function () {

            $('#' + j).removeClass("no-visibility");
            if (i % 2 == 0) {
                $(divs[i]).addClass("wow animated fadeInDown");
            } else {
                $(divs[i]).addClass("wow animated fadeInUp");
            }


            if (i == divs.length)
                clearInterval(loop);
            i++;
            j++;
        }, 50);
        window.setInterval(function () {
            $(".naslov").removeClass("no-visibility");
            $(".naslov").addClass("wow animated fadeIn fast");
        }, 500);

    });

</script>
