@model IEnumerable<Voleska.Models.Narocilo>

@{
    ViewData["Title"] = "Blagajna";
}




@using Microsoft.Extensions.Options
@inject IOptions<StripeSettings> Stripe


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Izdelek.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opcija.Ime)
            </th>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Material.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Izdelek.Cena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kolicina)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Znesek)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Izdelek.Ime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opcija.Ime)
                </td>
                <td>
                    <img id="imageToSwap" src="~/thumbnail/@item.Opcija.Slika" class="img-fluid" asp-append-version="true" />
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Material.Ime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Izdelek.Cena)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kolicina)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Znesek)
                </td>


            </tr>
        }
    </tbody>
</table>

@{

    @foreach (var item in Model)
    {
        if (Model.First() == item)
        {
            var skupniZnesekCenti = item.Transakcija.SkupniZnesek * 100;
            var user = ViewBag.UserMail;

            @user

            <form asp-action="Charge" asp-controller="Katalog" method="POST" asp-route-skupniZnesekCenti="@skupniZnesekCenti" asp-route-transakcijaId="@item.Transakcija.ID">
                <article>
                    <label>Skupni znesek:  @Html.DisplayFor(modelItem => item.Transakcija.SkupniZnesek)</label>
                </article>
                <script src="//checkout.stripe.com/v2/checkout.js"
                        class="stripe-button"
                        data-key="@Stripe.Value.PublishableKey"
                        data-locale="auto"
                        data-image="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/18341931_950404085096503_5473906262042326666_n.jpg?_nc_cat=107&ccb=2&_nc_sid=09cbfe&_nc_ohc=NafJfqY6thkAX8HpeOJ&_nc_ht=scontent-vie1-1.xx&oh=dfc2c549a22a5358540fd6b47ab9427f&oe=601096F2"
                        data-name="Voleska"
                        data-amount="@skupniZnesekCenti"
                        @*data-allow-remember-me="false"*@
                        data-email="@user">
                </script>
                <script>
                    // Hide default stripe button, be careful there if you
                    // have more than 1 button of that class
                    document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
                </script>

                <button type="submit" class="btn btn-info">Nakup</button>
            </form>
            @*
            <!-- Set up a container element for the button -->
            <div id="paypal-button-container" class="btn"></div> <!-- Include the PayPal JavaScript SDK -->
            <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD"></script>

            <script>
                // Render the PayPal button into #paypal-button-container
                paypal.Buttons({

                    // Set up the transaction
                    createOrder: function (data, actions) {
                        return actions.order.create({
                            purchase_units: [{
                                amount: {
                                    value: '88.44'
                                }
                            }]
                        });
                    },

                    // Finalize the transaction
                    onApprove: function (data, actions) {
                        return actions.order.capture().then(function (details) {
                            // Show a success message to the buyer
                            alert('Transaction completed by ' + details.payer.name.given_name + '!');
                        });
                    }


                }).render('#paypal-button-container');
            </script>
            *@
        }
    }
}
