@model IEnumerable<Voleska.Models.Narocilo>

<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script>
@{
    ViewData["Title"] = "Moja Košarica";


}

<script type="text/javascript">
    /*
    var x = null;
    function novaVrednost(id) {


        x = $('#trenutnaKolicina-' + id).val();

        $('.minus-' + id).attr("id", "trenutnaKolicinaParameterMinus");
        $('.plus-' + id).attr("id", "trenutnaKolicinaParameterPlus");

        $("#trenutnaKolicinaParameterMinus").attr("value", x);
        $("#trenutnaKolicinaParameterPlus").attr("value", x);

    }
    */
    $(document).ready(function () {

        /*
        $("#trenutnaKolicina").change(function () {
            novaVrednost(id);
        });
        */




    });

</script>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">

    <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
    <div class="modal-dialog modal-dialog-centered" role="document">


        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<h1>Moja Košarica</h1>

@{

    var prestej = Model.Count();
    var idTransakcije = 0;

    if (prestej == 0)
    {
        <p>Košarica je prazna!</p>
    }
    else
    {
        <p id="praznaKosarica" class="no-display">Košarica je prazna!</p>
        <div id="trenutnaKolicina2" class="no-display">
            @await Component.InvokeAsync(nameof(Voleska.ViewComponents.ViewComponents.PrenosPodatkov2VC), new { })
        </div>
        <table class="table" id="narocila">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Izdelek.Ime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Opcija.Ime)
                    </th>
                    <th>

                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Opombe)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Material.Ime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Izdelek.Cena)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Kolicina)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Znesek)
                    </th>
                </tr>
            </thead>


            <tbody>


                @foreach (var item in Model)
                {
                    <tr id="narocilo-@item.ID">
                        <td>
                            @Html.DisplayFor(modelItem => item.Izdelek.Ime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Opcija.Ime)
                        </td>
                        <td>
                            <img id="imageToSwap" src="~/thumbnail/@item.Opcija.Slika" class="img-fluid" asp-append-version="true" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Opombe)
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                                <i class="fas fa-pencil-alt prefix"></i>
                            </button>

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Material.Ime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Izdelek.Cena)
                        </td>
                        <td>





                            <div class="d-flex">
                                @*
                                    <form id="@item.ID" class="zmanjsajStevilo" asp-area="" asp-controller="Katalog" method="post" asp-action="ZmanjsajStevilo" asp-route-narociloId="@item.ID">
                                        <!--<input type="hidden" name="trenutnaKolicinaParameterMinus" class="minus-@item.ID" value="0" />-->
                                        <input type="submit" value="-" class="minus btn btn-light" onclick="this.submit();">
                                    </form>
                                *@
                                <button id="zmanjsajStevilo-@item.ID" class="zmanjsajStevilo minus btn btn-light" data-narociloId="@item.ID" onclick="ajaxZmanjsajStevilo(@item.ID)">-</button>

                                @*<form asp-area="" asp-controller="Katalog" method="post" asp-action="PosodobiRocniVnos" asp-route-narociloId="@item.ID">
                                *@


                                <span class="kolicina p-2" id="trenutnaKolicina-@item.ID">
                                    @await Component.InvokeAsync(nameof(Voleska.ViewComponents.ViewComponents.KolicinaVC), new { kolicina = item.Kolicina, narociloId = item.ID })
                                </span>


                                <div id="trenutnaKolicina-@item.ID" class="no-display">
                                    @await Component.InvokeAsync(nameof(Voleska.ViewComponents.ViewComponents.PrenosPodatkovVC), new { })
                                </div>

                                @*
                                    </form>
                                *@
                                @*
                                    <form id="@item.ID" class="povecajStevilo" asp-area="" asp-controller="Katalog" method="post" asp-action="PovecajStevilo" asp-route-narociloId="@item.ID">
                                        <!--<input type="hidden" name="trenutnaKolicinaParameterPlus" class="plus-@item.ID" value="0" />-->
                                        <input type="submit" value="+" class="plus btn btn-light" onclick="this.submit();">
                                    </form>
                                *@
                                <button id="povecajStevilo-@item.ID" class="povecajStevilo minus btn btn-light" data-narociloId="@item.ID" onclick="ajaxPovecajStevilo(@item.ID)">+</button>

                            </div>


                        </td>

                        <td id="znesek-@item.ID">
                            @await Component.InvokeAsync(nameof(Voleska.ViewComponents.ViewComponents.ZnesekVC), new { znesek = item.Znesek, narociloId = item.ID })
                        </td>




                        <td>
                            <!--
                            <form asp-area="" asp-controller="Katalog" method="post" asp-action="OdstraniIzKosarice" asp-route-narociloId="@item.ID">
                                <div class="form-group">
                                    <input type="submit" value="Odstrani iz košarice!" class="btn btn-warning" onclick="this.submit();" />

                                </div>

                            </form>
                            -->
                            <button id="odstrani-@item.ID" class="btn btn-warning" onclick="ajaxOdstraniIzKosarice(@item.ID)">Odstrani iz košarice!</button>

                        </td>


                    </tr>
                }
                @foreach (var item in Model)
                {

                    idTransakcije = item.Transakcija.ID;

                    <tr>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                            <span id="skupniZnesek">
                                @await Component.InvokeAsync(nameof(Voleska.ViewComponents.ViewComponents.SkupniZnesekVC), new { skupniZnesek = item.Transakcija.SkupniZnesek })
                            </span>
                        </td>
                        <td>
                        </td>
                    </tr>


                    break;
                }



            </tbody>
        </table>

        <form id="naBlagajno" asp-area="" asp-controller="Katalog" method="post" asp-action="NaBlagajno" asp-route-transakcijaId="@idTransakcije">
            <div class="form-group">
                <input type="submit" value="Nadaljuj na blagajno!" class="btn btn-success" />

            </div>

        </form>

    }
}

@section Scripts {
    <script>


                    function ajaxZmanjsajStevilo(izbranIzdelek) {

                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("ZmanjsajStevilo", "Katalog")',
                            data: {narociloId: izbranIzdelek},
                            dataType: "html",
                            success: function (data) {

                                $('#trenutnaKolicina-' + izbranIzdelek).html(data);

                                var kolicina = $('#prenosPodatkov-' + izbranIzdelek).attr("asp-route-kolicinaAjax");
                                var znesek = $('#prenosPodatkov-' + izbranIzdelek).attr("asp-route-znesekAjax");
                                var skupnaKolicina = $('#prenosPodatkov-' + izbranIzdelek).attr("asp-route-skupnaKolicinaAjax");
                                var skupniZnesek = $('#prenosPodatkov-' + izbranIzdelek).attr("asp-route-skupniZnesekAjax");

                                if (kolicina == 0) {
                                    ajaxOdstraniIzKosarice(izbranIzdelek);
                                } else {
                                    ajaxKolicinaReload(kolicina, izbranIzdelek);
                                    ajaxZnesekReload(znesek, izbranIzdelek);
                                    ajaxSkupnaKolicinaReload(skupnaKolicina);
                                    ajaxSkupniZnesekReload(skupniZnesek);
                                }
                            },
                            failure: function (data) {

                                alert(response);
                            },
                            error: function (data) {
                                console.log("Error!");
                            }

                        });
                    }

                    function ajaxPovecajStevilo(izbranIzdelek) {
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("PovecajStevilo", "Katalog")',
                            data: { narociloId: izbranIzdelek },
                            dataType: "html",
                            success: function (data) {
                                $('#trenutnaKolicina-' + izbranIzdelek).html(data);

                                var kolicina = $('#prenosPodatkov-' + izbranIzdelek).attr("asp-route-kolicinaAjax");
                                var znesek = $('#prenosPodatkov-' + izbranIzdelek).attr("asp-route-znesekAjax");
                                var skupnaKolicina = $('#prenosPodatkov-' + izbranIzdelek).attr("asp-route-skupnaKolicinaAjax");
                                var skupniZnesek = $('#prenosPodatkov-' + izbranIzdelek).attr("asp-route-skupniZnesekAjax");

                                ajaxKolicinaReload(kolicina, izbranIzdelek);
                                ajaxZnesekReload(znesek, izbranIzdelek);
                                ajaxSkupnaKolicinaReload(skupnaKolicina);
                                ajaxSkupniZnesekReload(skupniZnesek);
                            },
                            failure: function (data) {
                                alert(response.responseText);
                            },
                            error: function (data) {
                                alert(response.responseText);
                            }

                        });
                    }

                    function ajaxOdstraniIzKosarice(izbranIzdelek) {
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("OdstraniIzKosarice", "Katalog")',
                            data: { narociloId: izbranIzdelek },
                            dataType: "html",
                            success: function (data) {
                                $('#trenutnaKolicina2').html(data);
                                var skupnaKolicina = $('#prenosPodatkov2-' + izbranIzdelek).attr("asp-route-skupnaKolicinaAjax");
                                var skupniZnesek = $('#prenosPodatkov2-' + izbranIzdelek).attr("asp-route-skupniZnesekAjax");

                                ajaxSkupnaKolicinaReload(skupnaKolicina);
                                ajaxSkupniZnesekReload(skupniZnesek);

                                if (skupnaKolicina == 0) {
                                    $('#narocila').remove();
                                    $('#naBlagajno').remove();
                                    $('#praznaKosarica').css("display","block");
                                } else {
                                    $('#narocilo-' + izbranIzdelek).remove();
                                }

                            },
                            failure: function (data) {
                                alert("Fail!");
                            },
                            error: function (data) {
                                alert("Error!");
                            }

                        });
                    }


                    function ajaxKolicinaReload(kolicina, narociloId) {
                        $.ajax({
                            url: '@Url.Action("KolicinaReload", "Katalog")',
                            data: { kolicina: kolicina, narociloId: narociloId },
                            success: function (data) {

                                $('#trenutnaKolicina-' + narociloId).html(data);

                            },
                            failure: function (response) {
                                alert(response.responseText);
                            },
                            error: function (response) {
                                alert(response.responseText);
                            }
                        });
                    }

                    function ajaxZnesekReload(znesek, narociloId) {
                        $.ajax({
                            url: '@Url.Action("ZnesekReload", "Katalog")',
                            data: { znesek: znesek, narociloId: narociloId },
                            success: function (data) {
                                $('#znesek-' + narociloId).html(data);
                            }
                        });
                    }

                    function ajaxSkupnaKolicinaReload(skupnaKolicina) {
                        $.ajax({
                            url: '@Url.Action("SkupnaKolicinaReload", "Katalog")',
                            data: { skupnaKolicina: skupnaKolicina },
                            success: function (data) {
                                $("#skupnaKolicina").html(data);
                            }
                        });
                    }

                    function ajaxSkupniZnesekReload(skupniZnesek) {
                        $.ajax({
                            url: '@Url.Action("SkupniZnesekReload", "Katalog")',
                            data: { skupniZnesek: skupniZnesek },
                            success: function (data) {

                                $("#skupniZnesek").html(data);
                            }
                        });
                    }


    </script>

}
