<!DOCTYPE html>
<html lang="en" class="full-height">
<head>
    <!-- Google Tag Manager -->
    <!--
    <script>
    (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PJBF4DP');</script>
        -->
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0,maximum-scale=1.0" />
    <meta name="google-signin-client_id" content="610270812444-u99et1755d97o1tk7bnkgn4usq1ftpl3.apps.googleusercontent.com">

    <title>Voleska - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!--MDB BOOTSTRAP-->
    <link href="~/mdb/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/mdb/css/mdb.min.css" rel="stylesheet">
    <link href="~/mdb/css/style.css" rel="stylesheet">
    <!--MDB BOOTSTRAP-->
    <!--JQUERY-->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>

    <!--JQUERY-->

    <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    <!--Favicon linki-->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/webmanifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!--Favicon linki-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-D9TQ7254M8"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-D9TQ7254M8');
    </script>
    <script>
        $(document).ready(function () {

            $('.toast').toast('show');

            $(function () {
                $('body').scrollspy({ target: '#spyNav' })

                var trenutnaStran = $('#trenutniNaslov').data("value");

                if (trenutnaStran == "Urejanje izdelkov") {
                    trenutnaStran = "UrejanjeIzdelkov";
                    $('#uredi').addClass("active");
                    $('#' + trenutnaStran).addClass("izbrana");
                } else if (trenutnaStran == "Sporočila") {
                    trenutnaStran = "Sporocila";
                    $('#uredi').addClass("active");
                    $('#' + trenutnaStran).addClass("izbrana");
                } else if (trenutnaStran == "Transakcije" || trenutnaStran == "Uporabniki") {
                    $('#uredi').addClass("active");
                    $('#' + trenutnaStran).addClass("izbrana");
                } else if (trenutnaStran == "Profil" || trenutnaStran == "Spremeni geslo" || trenutnaStran == "Upravljanje z zunanjimi prijavami" || trenutnaStran == "Dvonivojska avtentikacija (2FA)" || trenutnaStran == "Osebni podatki") {
                    $('#UporabnikIkona').addClass("active");
                    trenutnaStran = "manage";
                    $('#' + trenutnaStran).addClass("izbrana");
                } else if (trenutnaStran == "Moja Košarica") {
                    trenutnaStran = "kosarica";

                    $('#' + trenutnaStran).addClass("active");


                } else if (trenutnaStran == "Prijava" || trenutnaStran == "Registracija") {
                    if (trenutnaStran == "Prijava") {
                        trenutnaStran = "login";
                    } else {
                        trenutnaStran = "register";
                    }
                    $('#UporabnikIkona').addClass("active");
                    $('#' + trenutnaStran).addClass("izbrana");
                } else if (trenutnaStran == "Naslovna stran") {
                    trenutnaStran = "naslovnaStran";
                    $('#' + trenutnaStran).addClass("active");
                    $('#contact').removeClass("active");

                }
                else {
                    $('#contact').removeClass("active");
                    $('#' + trenutnaStran).addClass("active");
                    $('#contact').removeClass("active");
                }

            });

            $(function () {
                new WOW().init();
            });


            $('.burger-button').on('click', function () {

                $('.animated-icon3').toggleClass('open');
            });


            $(function () {
                $('#manage').tooltip({ delay: { show: 700, hide: 0 }, trigger: 'hover' });

                $(".fb").tooltip({
                    delay: { show: 0, hide: 0 },
                    trigger: 'hover'
                });

                $(".insta").tooltip({
                    delay: { show: 0, hide: 0 },
                    trigger: 'hover'
                });

                $(".kosarica").tooltip({
                    delay: { show: 0, hide: 0 },
                    trigger: 'hover'
                });

                $(".izbira").tooltip({
                    delay: { show: 0, hide: 0 },
                    trigger: 'hover'
                });
            })


            // Add slideDown animation to Bootstrap dropdown when expanding.
            $('.dropdown').on('show.bs.dropdown', function () {
                $(this).find('.dropdown-menu').first().stop(true, true).slideDown();
            });

            // Add slideUp animation to Bootstrap dropdown when collapsing.
            $('.dropdown').on('hide.bs.dropdown', function () {
                $(this).find('.dropdown-menu').first().stop(true, true).slideUp();
            });





        });

        function PreveriNaslov(naslov) {

            if (naslov != "Naslovna stran") {
                $("#domov").remove();

                $("header").css('height', 'auto');

            }
        }
    </script>

</head>
@{
    var prilagodiNav = "height:fit-content;";
    var razmik = "visibility:hidden;";
    var barva = "setColor";
   
    <body onload="javascript:PreveriNaslov('@ViewData["Title"]')">


        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PJBF4DP"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
        <!--Start of Tawk.to Script-->
        <!--
        <script type="text/javascript">
            var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
            (function () {
                var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/60fc55dbd6e7610a49acd563/1fbcquotg';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();
        </script>
        -->
        <!--End of Tawk.to Script-->
        <!-- Full Height Modal Right -->
        <div class="modal fade right" id="fullHeightModalRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">

            <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
            <div class="modal-dialog modal-full-height modal-right" role="document">


                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-unique" data-dismiss="modal">Na blagajno</button>
                        <button type="button" class="btn btn-cyan" asp-area="" asp-controller="Katalog" asp-action="PoglejKosarico" asp-route-transakcijaId="@ViewBag.TransakcijaID">Prikaži košarico</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Full Height Modal Right -->






        @if (@ViewBag.Title == "Naslovna stran")
        {
            prilagodiNav = "";
            razmik = "display:none;";
            barva = "";
        }



        <header id="navigacija" style=@prilagodiNav>

            <nav style=@razmik class='p-5' aria-hidden='true' id="trenutniNaslov" data-value='@ViewData["Title"]'></nav> <!-- Dummy nav bar ustvari razmik ravno za velikost navbar-a -->
            <nav id="spyNav" class=" @barva correctNavbar navbar fixed-top navbar-expand-lg navbar-toggleable-sm navbar-dark scrolling-navbar p-0">

                @if ((string)ViewData["Title"] == "Naslovna stran")
                {
                    <a class="navbar-brand mb-2 ml-2" href="#domov">
                        <img src="~/slike/Logo.png" height="60" alt="Voleska logo">
                    </a>
                }
                else
                {
                    <a class="navbar-brand mb-2 ml-2" asp-area="" asp-controller="Home" asp-action="Index" asp-route-izbira="domov">
                        <img src="~/slike/Logo.png" height="60" alt="Voleska logo">
                    </a>
                }


                <button class="navbar-toggler burger-button mr-2" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <div class="animated-icon3"><span></span><span></span><span></span></div>
                </button>


                <div class="navbar-collapse collapse d-lg-inline-flex px-2 py-2 " id="navbarSupportedContent">
                    <ul class="nav-pills navbar-nav nav-flex-icons mr-auto py-1 justify-content-between">

                        @if ((string)ViewData["Title"] == "Naslovna stran")
                        {

                            <li class="nav-item">
                                <a id="naslovnaStran" class="nav-link" href="#domov">Domov</a>
                            </li>



                            <li class="nav-item">
                                <a class="nav-link" href="#oMeni">O meni</a>
                            </li>


                            <li class="nav-item">
                                <a id="contact" class="nav-link" href="#kontakt">Kontakt</a>
                            </li>


                        }
                        else
                        {
                            <li class="nav-item">
                                <a id="naslovnaStran" class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" asp-route-izbira="domov">Domov</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" asp-route-izbira="oMeni">O meni</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" asp-route-izbira="kontakt">Kontakt</a>
                            </li>
                        }



                        <li id="Blogi" class="nav-item ">
                            <a class="nav-link" asp-area="" asp-controller="Blogi" asp-action="Index">Blog</a>
                        </li>

                        <li id="Katalog" class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Katalog" asp-action="Index">Katalog izdelkov</a>
                        </li>

                    </ul>

                    <ul class="nav-pills navbar-nav nav-flex-icons ml-auto py-1 justify-content-between">
                        @if (User.Identity.IsAuthenticated && User.IsInRole("ADMINISTRATOR"))
                        {
                            <li class="nav-item dropdown" id="uredi">

                                @await Component.InvokeAsync(nameof(Voleska.ViewComponents.ViewComponents.SteviloSporocilVC), new { obvestilo = true })

                                <a class="nav-link dropdown-toggle" id="urejanje" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    Urejanje
                                </a>
                                <div class="dropdown-menu dropdown-default pt-2 px-2 pb-0 z-depth-5" aria-labelledby="urejanje">
                                    <a id="UrejanjeIzdelkov" class="dropdown-item dropDownCustom hoverable" asp-area="" asp-controller="Izdelki" asp-action="Index">Urejanje izdelkov</a>
                                    <a id="Uporabniki" class="dropdown-item dropDownCustom hoverable" asp-area="" asp-controller="Uporabniki" asp-action="Index">Uporabniki</a>
                                    <a id="Transakcije" class="dropdown-item dropDownCustom hoverable" asp-area="" asp-controller="Transakcije" asp-action="Index">Transakcije</a>
                                    <a id="Sporocila" class="dropdown-item dropDownCustom hoverable" asp-area="" asp-controller="Sporocila" asp-action="Index">
                                        <span>
                                            Sporočila

                                            @await Component.InvokeAsync(nameof(Voleska.ViewComponents.ViewComponents.SteviloSporocilVC), new { })

                                        </span>

                                    </a>

                                </div>
                            </li>

                        }



                        <li class="nav-item socialIcon">
                            <a class="nav-link fb" href="https://www.facebook.com/voleskaccessories/" target="_blank" data-toggle="tooltip" data-placement="bottom" title='Facebook'><i class="fab fa-facebook-f light-green-text-2"></i></a>
                        </li>
                        <li class="nav-item socialIcon">
                            <a class="nav-link insta" href="https://www.instagram.com/voleskaccessories/" target="_blank" data-toggle="tooltip" data-placement="bottom" title='Instagram'><i class="fab fa-instagram light-green-text-2"></i></a>
                        </li>

                        <partial name="_LoginPartial.cshtml" />
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li id="kosarica" class="nav-item">

                                @await Component.InvokeAsync("SteviloIzdelkovVKosarici")

                            </li>
                        }

                    </ul>



                </div>

            </nav>

        </header>

        @{ var mainWidth = "";}
        @if ((string)ViewData["Title"] == "Registracija" || (string)ViewData["Title"] == "Prijava")
        {
            mainWidth = "mx-2";
        }
        else
        {
            mainWidth = "mx-5";
        }

        <div class="container-fluid mt-4 mb-5">
            <main role="main" class="pb-3 @mainWidth">
                @RenderBody()
            </main>
        </div>


        <!--footer-->
        <footer class="page-footer font-small wow fadeIn" style="background-color:#480048">

            <!-- Footer Elements -->
            <div class="container-fluid text-center text-md-left">

                <!-- Grid row-->
                <div class="row px-5 pt-5">
                    <!-- Grid column -->
                    <div class="col-md-6 mt-md-0 mt-3">

                        <!-- Content -->
                        <a class="navbar-brand mb-2 ml-2" asp-area="" asp-controller="Home" asp-action="Index" asp-route-izbira="domov">
                            <img src="~/slike/Logo.png" height="80" alt="Voleska logo">
                        </a>
                        <p>Etične in unikatne živalice, cvetlice ter druge naravne lepote v obliki lesenih uhančkov in brošk.</p>

                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none pb-3">

                    <!-- Grid column -->
                    <div class="col-md-2 mb-md-0 mb-3 d-flex flex-column  align-items-center text-center">

                        <!-- Links -->
                        <h5 class="text-uppercase text-center mb-3">Voleska</h5>

                        <ul class="list-unstyled">
                            <li class="mb-2">
                                <a href="#!">O meni</a>
                            </li>
                            <li class="mb-2">
                                <a href="#!">Splošni pogoji</a>
                            </li>
                            <li class="mb-2">
                                <a href="#!">Pogosta vprašanja</a>
                            </li>
                            <li class="mb-2">
                                <a href="#!">Varstva podatkov</a>
                            </li>
                            <li class="mb-2">
                                <a href="#!">Kontakt</a>
                            </li>
                            <li class="mb-2">
                                <a href="#!">Moj uporabniški račun</a>
                            </li>

                        </ul>

                    </div>
                    <hr class="clearfix w-100 d-md-none pb-3">
                    <!-- Grid column -->
                    <div class="col-md-2 mb-md-0 mb-3 d-flex flex-column  align-items-center text-center">

                        <!-- Links -->
                        <h5 class="text-uppercase text-center mb-3">Izdelki</h5>

                        <ul class="list-unstyled">
                            <li class="mb-2">
                                <a href="#!">Uhani</a>
                            </li>
                            <li class="mb-2">
                                <a href="#!">Broške</a>
                            </li>
                            <li class="mb-2">
                                <a href="#!">Zapestnice</a>
                            </li>
                            <li class="mb-2">
                                <a href="#!">Ogrlice</a>
                            </li>
                            <li class="mb-2">
                                <a href="#!">Obeski</a>
                            </li>
                            <li class="mb-2">
                                <a href="#!">Prstani</a>
                            </li>
                        </ul>

                    </div>
                    <hr class="clearfix w-100 d-md-none pb-3">
                    <div class="col-md-2 mb-md-0 mb-3">

                        <!-- Links -->
                        <h5 class="text-uppercase text-center mb-3">Povežimo se</h5>

                        <div class="d-flex justify-content-center">

                            <!-- Facebook -->

                            <a class="nav-link fb grow mr-3 " href="https://www.facebook.com/voleskaccessories/" target="_blank" data-toggle="tooltip" data-placement="bottom" title='Facebook'><i class="fab fa-facebook-f light-green-text-2"></i></a>

                            <!--Instagram-->

                            <a class="nav-link insta grow" href="https://www.instagram.com/voleskaccessories/" target="_blank" data-toggle="tooltip" data-placement="bottom" title='Instagram'><i class="fab fa-instagram light-green-text-2"></i></a>

                        </div>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-12 py-3">

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row-->

            </div>
            <!-- Footer Elements -->
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">
                © 2021 Copyright:
                <a href="#">Voleska.</a><a class="ml-2" asp-area="" asp-controller="Home" asp-action="Privacy">Zasebnost</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!--footer-->


        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script>
            var loadFile = function (event) {
                var output = document.getElementById('output');
                output.src = URL.createObjectURL(event.target.files[0]);
                output.onload = function () {
                    URL.revokeObjectURL(output.src) // free memory
                }
            };
        </script>
        <!--MDB BOOTSTRAP-->
        <script src="~/js/site.js" asp-append-version="true"></script>
        <!--<script type="text/javascript" src="~/mdb/js/jquery-3.4.1.min.js"></script>-->
        <script type="text/javascript" src="~/mdb/js/popper.min.js"></script>
        <!--<script type="text/javascript" src="~/mdb/js/bootstrap.min.js"></script>-->
        <script type="text/javascript" src="~/mdb/js/mdb.min.js"></script>
        <!--MDB BOOTSTRAP-->
        @RenderSection("Scripts", required: false)
    </body>
}
</html>
