@model IEnumerable<Voleska.Areas.Identity.Data.ApplicationRole>

@{
    ViewData["Title"] = "Vloge";
}

@{ 
    var izklopi = "";

<h1>Seznam vlog</h1>

@if (Model.Any())
{
    <table class="table mt-5">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NormalizedName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            
                

                @foreach (var vloga in Model)
                {
                    
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => vloga.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => vloga.NormalizedName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => vloga.Id)
                        </td>
                        <td class="d-flex">
                            
                            @if (vloga.Name == "ADMINISTRATOR" || vloga.Name == "UPORABNIK")
                            {
                                izklopi = "disabled";
                            }
                            else {
                                izklopi = "";
                            }
                            <a class="btn btn-success mr-2 @izklopi" asp-area="" asp-controller="Administration" asp-action="Edit" asp-route-id="@vloga.Id"><i class="fa fa-edit mr-2"></i>Uredi</a>
                            <a class="btn btn-danger @izklopi" asp-area="" asp-controller="Administration" asp-action="Delete" asp-route-id="@vloga.Id"><i class="fa fa-trash mr-2"></i>Izbriši</a>
                        </td>
                    </tr>

                }
            


        </tbody>
    </table>
}
else
{
    <div>Ni določenih vlog!</div>
}

<div class="d-flex">
    <a class="nav-link" asp-area="" asp-controller="Administration" asp-action="CreateRole">Ustvari novo vlogo</a>
    <a class="nav-link" asp-area="" asp-controller="Uporabniki" asp-action="Index">Nazaj</a>
</div>

}