@model Voleska.ViewModel.IzdelkiViewModel

@{
    ViewData["Title"] = "Urejanje izdelkov";
}

<h1>Izdelki</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    <div class="col-md-10">

        <form class="d-flex align-items-baseline" asp-controller="Izdelki" asp-action="Index" method="get">
            <div class="mr-2">
                <select asp-for="IzbranTipIzdelka" class="browser-default custom-select">
                    <option value="">All</option>
                    @foreach (var tipIzdelka in Model.TipiIzdelka)
                    {
                        if (tipIzdelka.Text == @ViewBag.TipIzdelka)
                        {
                            <option value="@tipIzdelka.Text" selected>@tipIzdelka.Text</option>
                        }
                        else
                        {
                            <option value="@tipIzdelka.Text">@tipIzdelka.Text</option>
                        }
                    }


                </select>
            </div>
            <div class="">
                <input class="p-2" type="text" asp-for="SearchString" value="@ViewBag.SearchString" />

                <button type="submit" class="btn btn-info p-3">
                    <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                </button>
                @if (@ViewBag.SearchString != null || @ViewBag.TipIzdelka != null)
                {
                    <a asp-action="Index" asp-controller="Izdelki">Nazaj na prikaz vseh izdelkov</a>
                }


            </div>
        </form>
    </div>
    <div class="col-md-2 ">
        <!-- Split button -->
        <div class="btn-group">
            <a type="button" class="btn btn-info" asp-action="Index" asp-controller="Izdelki">
            
                @if (ViewBag.IzbranFilter == null)
                {
                    <span>Razvrščanje</span>
                }
                else {
                    <span>@ViewBag.IzbranFilter</span>
                }

               </a>
   
               <button type="button" class="btn btn-info dropdown-toggle px-3" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-action="Index" asp-controller="Izdelki" asp-route-izbranTipIzdelka="@ViewBag.TipIzdelka" asp-route-SearchString="@ViewBag.SearchString">Privzeto</a>
                <a class="dropdown-item" asp-action="Index" asp-controller="Izdelki" asp-route-izbranTipIzdelka="@ViewBag.TipIzdelka" asp-route-SearchString="@ViewBag.SearchString" asp-route-filtriranje="cenaNarascajoce">Cena (najnižja do najvišja)</a>
                <a class="dropdown-item" asp-action="Index" asp-controller="Izdelki" asp-route-izbranTipIzdelka="@ViewBag.TipIzdelka" asp-route-SearchString="@ViewBag.SearchString" asp-route-filtriranje="cenaPadajoce">Cena (najvišja do najnižja)</a>
                <a class="dropdown-item" asp-action="Index" asp-controller="Izdelki" asp-route-izbranTipIzdelka="@ViewBag.TipIzdelka" asp-route-SearchString="@ViewBag.SearchString" asp-route-filtriranje="datumPadajoce">Najnovejši</a>
                <a class="dropdown-item" asp-action="Index" asp-controller="Izdelki" asp-route-izbranTipIzdelka="@ViewBag.TipIzdelka" asp-route-SearchString="@ViewBag.SearchString" asp-route-filtriranje="ocena">Po oceni</a>
                <a class="dropdown-item" asp-action="Index" asp-controller="Izdelki" asp-route-izbranTipIzdelka="@ViewBag.TipIzdelka" asp-route-SearchString="@ViewBag.SearchString" asp-route-filtriranje="priljubljenost">Po priljubljenosti</a>
            </div>
        </div>
    </div>
</div>


<table class="table mt-5">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Izdelki[0].Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Izdelki[0].Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Izdelki[0].Podrobnosti)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Izdelki[0].Cena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Izdelki[0].Izbrisan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Izdelki[0].Dodan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Izdelki[0].Posodobljen)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Izdelki[0].TipIzdelka)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Izdelki)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Podrobnosti)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cena)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Izbrisan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dodan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Posodobljen)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TipIzdelka.Ime)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@{

    var prejsnjaStran = 1;


    if (ViewBag.StevilkaStrani != null)
    {
        prejsnjaStran = ViewBag.StevilkaStrani - 1;
    }
    var naslednjaStran = ViewBag.StevilkaStrani + 1;

    if (ViewBag.StevilkaStrani == null)
    {
        naslednjaStran = 2;
    }

    var izklopi = "";

    <nav aria-label="Page navigation example">
        <ul class="pagination pg-blue">
            @if (!@Model.Izdelki.HasPreviousPage)
            {
                izklopi = "text-muted izklopi";
            }
            <li class="page-item">
                <a class="page-link @izklopi"  asp-route-stevilkaStrani="@prejsnjaStran" asp-route-izbranTipIzdelka="@ViewBag.TipIzdelka" asp-route-SearchString="@ViewBag.SearchString" asp-route-filtriranje="@ViewBag.Filtriranje">Nazaj</a>
            </li>
            @for (var i = 1; i <= Model.Izdelki.TotalPages; i++)
            {
                if (i == @Model.Izdelki.PageIndex)
                {
                    <li class="page-item active">
                        <a class="page-link" asp-route-kliknjenLinkStrani="@i" asp-route-stevilkaStrani="@i" asp-route-izbranTipIzdelka="@ViewBag.TipIzdelka" asp-route-SearchString="@ViewBag.SearchString" asp-route-filtriranje="@ViewBag.Filtriranje">@i <span class="sr-only">(current)</span></a>
                    </li>
                }
                else { 
                    <li class="page-item"><a class="page-link" asp-route-kliknjenLinkStrani="@i" asp-route-stevilkaStrani="@i" asp-route-izbranTipIzdelka="@ViewBag.TipIzdelka" asp-route-SearchString="@ViewBag.SearchString" asp-route-filtriranje="@ViewBag.Filtriranje">@i</a></li>
                }
                
                

            }
     
            @if (@Model.Izdelki.HasNextPage)
            {
                izklopi = "";
            }
            else
            {
                izklopi = "text-muted izklopi";
            }
            <li class="page-item ">
                <a class="page-link @izklopi" asp-route-stevilkaStrani="@naslednjaStran" asp-route-izbranTipIzdelka="@ViewBag.TipIzdelka" asp-route-SearchString="@ViewBag.SearchString" asp-route-filtriranje="@ViewBag.Filtriranje">Naprej</a>
            </li>
        </ul>
    </nav>

    <div class="d-flex">
        <a class="nav-link" asp-area="" asp-controller="Materiali" asp-action="Index">Materiali</a> <a class="nav-link" asp-area="" asp-controller="TipiIzdelkov" asp-action="Index">Tipi izdelkov</a> <a class="nav-link" asp-area="" asp-controller="TipiOpcij" asp-action="Index">Tipi opcij</a>
    </div>

}
