@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var prijava = "white-text";
    var registracija = "white-text";
    if (ViewBag.Title == "Prijava")
    {
        prijava = "active";
    }
    else if (ViewBag.Title == "Registracija")
    {
        registracija = "active";
    }
    <div class="row d-flex justify-content-center my-0 py-0">
        <div class="col-lg-8 align-items-center">
            <div class="card login-logout-tab z-depth-5 ">
                <div class="card-header bg-default animated fadeIn">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item pb-0">
                            <a class="nav-link @prijava" href="/identity/account/login">Prijava</a>
                        </li>
                        <li class="nav-item pb-0">
                            <a class="nav-link @registracija" href="/identity/account/register">Registracija</a>
                        </li>

                    </ul>
                </div>
                <div class="card-content pt-5 pb-3">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            @RenderBody()
                        </div>
                    </div>
                    <section class="row mx-auto">
                        <div class="col-12 d-flex justify-content-center">

                            <div class="col-4">
                                <hr />
                            </div>
                            <div class="col-4 text-center">
                                <small>Ali vpiši me z:</small>
                            </div>
                            <div class="col-4">
                                <hr />
                            </div>



                        </div>
                        <div class="row mx-auto">
                            <div class="col-12 d-flex justify-content-center">
                                @{
                                    var bgColor = "";
                                    var icon = "";
                                    var predlog = "";

                                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                        <div>
                                            <p>
                                                @foreach (var provider in Model.ExternalLogins)
                                                {
                                                    if (provider.DisplayName == "Google")
                                                    {
                                                        bgColor = "btn-danger";
                                                        icon = "fa-google";
                                                        predlog = "z";
                                                    }
                                                    else
                                                    {
                                                        bgColor = "btn-primary";
                                                        icon = "fa-facebook";
                                                        predlog = "s";

                                                    }

                                                    <button type="submit" class="mx-1 grow roundButton @bgColor hoverable waves-light z-depth-1-half" name="provider" value="@provider.Name" data-toggle="tooltip" data-placement="bottom" title="Vpiši me @predlog  @provider.DisplayName računom"><i class="fab @icon"></i></button>

                                                }
                                            </p>
                                        </div>
                                    </form>

                                }
                            </div>

                        </div>



                    </section>
                </div>
            </div>
        </div>
    </div>

}
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip({ delay: { show: 400, hide: 0 }, trigger: 'hover' });
    })
</script>
 

@section Scripts {
    @RenderSection("Scripts", required: false)
}
