@model Voleska.Models.LajkanjeKomentarjev

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LajkanjeKomentarjev</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lajk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lajk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dodan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dodan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Posodobljen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Posodobljen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Komentar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Komentar.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
