@model Voleska.Areas.Identity.Data.ApplicationRole

@{
    ViewData["Title"] = "Izbriši";
}

<h1>Izbris vloga @Model.Name</h1>

<h3>izbrišem izbrano vlogo?</h3>
<div>
    <h4>Vloga</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Nazaj</a>
    </form>
</div>
